################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Simon.GrpcService.API/v16/.suo
/.vs/Simon.GrpcService.API/DesignTimeBuild/*.v2
